<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, blanditiis perspiciatis. Quia quas accusantium quam vel mollitia cupiditate repellendus sequi!</p>
    </div>
</section>